* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;

}

#result-display p {
  line-height: 60px;
}

#result-display {
    text-align: center;
    font-size: 50px;
}

.yellow {
    background-color: yellow;
    padding:5px
}

.green {
    background-color: green;
}

#fourth-strip {
  display: none;
}

.calc-btn {
  display: block;
  margin: 10px auto;
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(28, 87, 72);
  color: white;
  transition: 0.2s;
}

.calc-btn:hover {
  background-color: rgb(35, 119, 119);
}

.show {
  display:block
}

#resistor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.side,
.center {
  background-color: rgb(190, 173, 147);
}

.side {
  width: 100px;
  height: 100px;
  border-radius: 45%;
}

.center {
  display: flex;
  width: 160px;
  height: 85px;
  margin: 0 -20px;
}

.strip {
  width: 20px;
  height: 100%;
  cursor: pointer;
  transition: 0.2s;
}

.strip:hover {
  width: 30px;
}

.center .strip {
  margin-left: 17px;
}

.side .strip {
  margin: 0 auto;
}
